@import "tailwindcss";

@theme {
  --font-primary: "JetBrains Mono", "serif";
  --animate-wink: wink 1.5s ease-in-out;
  --animate-radiating: radiating 1.5s ease-out 3;

  @keyframes wink {
    0%,
    100% {
      transform: scaleY(1);
    }
    70% {
      transform: scaleY(1);
    }
    75% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1);
    }
    90% {
      transform: scaleY(1);
    }
    95% {
      transform: scaleY(0);
    }
  }

  @keyframes radiating {
    0%,
    100% {
      filter: drop-shadow(0px 0px 4px rgba(45, 255, 196, 1));
    }
    50% {
      filter: drop-shadow(0px 0px 4px rgba(45, 255, 196, 0));
    }
  }
}

body {
  @apply font-primary bg-stone-800 text-stone-100 text-sm;
}

h2 {
  @apply text-2xl border-b border-b-stone-600 pb-2;
}

.btn {
  @apply w-fit flex justify-center items-center gap-2 px-2 py-1 duration-100;
}
